root = true

[*.{c,cpp,h,hpp,inl,cs,glsl,hlsl}]
indent_size = 4
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

[*.{xml,xaml,manifest}]
indent_size = 2
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true
