# Build results
[Bb]in/
[Oo]bj/
[Ii]ntermediate/
[Bb]uild/
[Dd]ebug/
[Rr]elease/

# Visual Studio cache files
ipch/
*.aps
*.VC.db
*.VC.opendb
*.sdf
*.opensdf
*.suo
*.user

# Temporary OS files
.DS_Store
Thumbs.db

# Versioning
/res/Version.h
