# Build results
[Bb]in/
[Oo]bj/
[Bb]uild/
[Dd]ebug/
[Rr]elease/

# Visual Studio cache files
ipch/
*.aps
*.cachefile
*.opendb
*.opensdf
*.user
*.sdf
*.suo

# Temporary OS files
.DS_Store
Thumbs.db

# Versioning
/res/Version.h
