[submodule "imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "minhook"]
	path = deps/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "stb"]
	path = deps/stb
	url = https://github.com/nothings/stb.git
[submodule "glad"]
	path = deps/glad
	url = https://github.com/Dav1dde/glad
	branch = glad2
[submodule "utfcpp"]
	path = deps/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
	fetchRecurseSubmodules = false
[submodule "spirv"]
	path = deps/spirv
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "vma"]
	path = deps/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "fpng"]
	path = deps/fpng
	url = https://github.com/richgel999/fpng
[submodule "d3d12"]
	path = deps/d3d12
	url = https://github.com/microsoft/DirectX-Headers.git
[submodule "openxr"]
	path = deps/openxr
	url = https://github.com/KhronosGroup/OpenXR-SDK.git
