<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="1.6.2" developmentDependency="true" />
  <package id="Fody" version="2.3.22" developmentDependency="true" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" />
</packages>